# Red or Blue Who Wins?

**Name(s)**: Shriya Pattapu, Milo Palmquist

**Website Link**: (your website link)

In [43]:
import pandas as pd
import numpy as np
from pathlib import Path
import sklearn as sk
from scipy import stats

import plotly.express as px
pd.options.plotting.backend = 'plotly'

from dsc80_utils import * # Feel free to uncomment and use this.

In professional play does the side of the map you are on affect your win rate? -> Sample from data this diff in wins from blue and red in samples (perm tes) -> (two tail)
classify a team or blue side based on other features.

## Step 1: Introduction

## Step 2: Data Cleaning and Exploratory Data Analysis

In [4]:
df = pd.read_csv("main.csv")

/var/folders/ct/mkdcx0p53gqgmfvf541_sql40000gn/T/ipykernel_10984/3455604807.py:1: DtypeWarning:

Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.

In [5]:
players = df[df['position']!= 'team'][['gameid', 'league', 'side', 'position','teamname','result','kills','deaths','assists', 'earnedgold', 'damagetochampions', 'total cs']]

In [6]:
players.head()

,gameid,league,side,position,...,assists,earnedgold,damagetochampions,total cs
0,ESPORTSTMNT01_2690210,LCKC,Blue,top,...,2,7164.0,15768.0,231.0
1,ESPORTSTMNT01_2690210,LCKC,Blue,jng,...,6,5368.0,11765.0,148.0
2,ESPORTSTMNT01_2690210,LCKC,Blue,mid,...,3,5945.0,14258.0,193.0
3,ESPORTSTMNT01_2690210,LCKC,Blue,bot,...,2,6835.0,11106.0,226.0
4,ESPORTSTMNT01_2690210,LCKC,Blue,sup,...,6,2908.0,3663.0,42.0

In [7]:
teams = df[df['position']== 'team'][['gameid','league','side','teamname','result', 'teamkills', 'teamdeaths', 'assists', 'earnedgold', 'damagetochampions']]

In [21]:
teams.head()

,gameid,league,side,teamname,...,teamdeaths,assists,earnedgold,damagetochampions
10,ESPORTSTMNT01_2690210,LCKC,Blue,BRION Challengers,...,19,19,28222.0,56560.0
11,ESPORTSTMNT01_2690210,LCKC,Red,Nongshim Esports Academy,...,9,62,33769.0,79912.0
22,ESPORTSTMNT01_2690219,LCKC,Blue,T1 Esports Academy,...,16,7,34688.0,59579.0
23,ESPORTSTMNT01_2690219,LCKC,Red,Liiv SANDBOX Youth,...,3,39,48063.0,74855.0
34,8401-8401_game_1,LPL,Blue,Oh My God,...,6,35,30167.0,40086.0

In [9]:
win_rates_per_side = (teams[teams['result'] == 1].groupby('side').size() / teams.groupby('side').size()).to_frame().reset_index()

fig = px.bar(win_rates_per_side, x = 'side', y = 0, color='side', title = 'Win Rate Per Side', 
             color_discrete_map={'Blue': 'blue', 'Red': 'red'},)
fig.update_layout(yaxis_title="Win Rate")
fig

In [10]:
fig = go.Figure()
fig.add_trace(go.Histogram(x=teams[teams['side'] == 'Red']['teamkills'], name='Red',marker_color='red'))
fig.add_trace(go.Histogram(x=teams[teams['side'] == 'Blue']['teamkills'], name='Blue',marker_color='blue'))
fig.update_layout(barmode='overlay')
fig.update_traces(opacity=0.55)
fig.update_layout(yaxis_title="count")
fig.update_layout(xaxis_title="total kills")
fig.update_layout(title="Total Kills by Side")

In [11]:
fig = go.Figure()
fig.add_trace(go.Histogram(x=teams[teams['side'] == 'Red']['earnedgold'], name='Red',marker_color='red'))
fig.add_trace(go.Histogram(x=teams[teams['side'] == 'Blue']['earnedgold'], name='Blue',marker_color='blue'))
fig.update_layout(barmode='overlay')
fig.update_traces(opacity=0.75)
fig.update_layout(yaxis_title="count")
fig.update_layout(xaxis_title="total earned gold")
fig.update_layout(title="Total Earned Gold by Side")

In [12]:
def foo(x):
    
players.groupby('gameid').filter(foo)

IndentationError: expected an indented block after function definition on line 1 (3418709582.py, line 3)

In [13]:
# TODO

## Step 3: Assessment of Missingness

In [14]:
# TODO

## Step 4: Hypothesis Testing

In [22]:
teams.head()

,gameid,league,side,teamname,...,teamdeaths,assists,earnedgold,damagetochampions
10,ESPORTSTMNT01_2690210,LCKC,Blue,BRION Challengers,...,19,19,28222.0,56560.0
11,ESPORTSTMNT01_2690210,LCKC,Red,Nongshim Esports Academy,...,9,62,33769.0,79912.0
22,ESPORTSTMNT01_2690219,LCKC,Blue,T1 Esports Academy,...,16,7,34688.0,59579.0
23,ESPORTSTMNT01_2690219,LCKC,Red,Liiv SANDBOX Youth,...,3,39,48063.0,74855.0
34,8401-8401_game_1,LPL,Blue,Oh My God,...,6,35,30167.0,40086.0

In [40]:
sampling_dist = []
for i in range(1000):
    sample = teams.sample(2500)
    by_side = sample.groupby('side')['teamkills'].mean()
    sampling_dist.append(by_side['Blue'] - by_side['Red'])

sampling_dist = pd.DataFrame(sampling_dist, columns=["Difference in Means of Team Kills (Blue - Red)"])

In [41]:
sampling_dist

     Difference in Means of Team Kills (Blue - Red)
0                                              0.60
1                                              0.66
2                                             -0.16
..                                              ...
997                                            0.62
998                                            0.89
999                                            0.76

[1000 rows x 1 columns]

In [44]:
hist = px.histogram(sampling_dist)

In [45]:
t_stat, p_val = stats.ttest_1samp(sampling_dist, 0)
t_stat, p_val

(array([61.43]), array([0.]))

## Step 5: Framing a Prediction Problem

In [ ]:
# TODO

## Step 6: Baseline Model

In [ ]:
unique_games = teams['gameid'].unique()
len(unique_games)

## Step 7: Final Model

In [ ]:
# TODO

## Step 8: Fairness Analysis

In [ ]:
# TODO